# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
.pnp/
.pnp.js

# Testing & Coverage
coverage/

# Next.js & Build Outputs
.next/
*/.next/
*/*/.next/
out/
build/
dist/
.turbo/
*.tsbuildinfo

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.env
*.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/

# Database
*.sqlite
*.sqlite-journal
*.db
prisma/*.db
